.externalCss {
    color: chartreuse;
}

.boxes {
    border: 2px solid powderblue;
}

.paddingEg {
    border: 2px solid powderblue;
    padding: 30px;
}

.marginEg {
    border: 2px solid powderblue;
    margin: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}